body{
    background: url(../media/imagenes/On\ Freedom\ of\ Will.jpeg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.titulo{
    color: rgb(255, 208, 0);
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New';
}

.texto1{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: justify;
    font-family: sans-serif;
}

.texto2{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: justify;
    font-family: sans-serif;
}

.texto3{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: justify;
    font-family: sans-serif;
}

.img1{
    width: 400px;
    float: right;
}
